<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <title>Document</title>
    <style>
        form .ng-pristine {
            border: 1px dotted grey;
        }
        form .ng-invalid.ng-dirty {
            background-color: lightpink;
        }
        form .ng-valid.ng-dirty {
            background-color: lightgreen;
        }
        form .ng-invalid-email {
            color: red;
        }
        span.summary.ng-invalid {
            color: red;
            font-weight: bold;
        }
        span.summary.ng-valid {
            color: green;
        }
        div.error {
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <script src="node_modules/angular/angular.js"></script>
    <script src="main.js"></script>

    <div ng-controller="baseCtrl">
        {{ counter }}
        <button ng-click="increment(1)">+1</button>
    </div>










    <!-- <div ng-controller="testCtrl">
        <p>Controller 1</p>
        <p>Received message - {{ info }}</p>
        <div ng-controller="testCtrl">
            <p>Controller 2</p>
            <p>Received message - {{ info }}</p>
            <div ng-controller="testCtrl">
                <p>Controller 3</p>
                <p>Received message - {{ info }}</p>
                <input type="text" ng-model="messageInput">
                <button ng-click="send()">Send</button>
            </div>
        </div>
    </div> -->












    <!-- <div ng-controller="senderCtrl">
        <p>Sender</p>
        <input type="text" ng-model="messageInput">
        <button ng-click="send()">Send</button>
    </div>

    <div ng-controller="receiverCtrl">
        <p>Receiver 1</p>
        <p>Received message - {{ info }}</p>
    </div>
    <div ng-controller="receiverCtrl">
        <p>Receiver 2</p>
        <p>Received message - {{ info }}</p>
    </div> -->








    <!-- <div ng-controller="baseCtrl">
        <p>{{ value }}</p>
        <button ng-click="changeValue1()">change value 1</button>

        <div ng-controller="derivedCtrl">
            <p>{{ value }}</p>
            <button ng-click="changeValue1()">change value 1</button>
            <button ng-click="changeValue2()">change value 2</button>
        </div>
    </div> -->










    <!-- <div ng-controller="appCtrl" style="width: 300px; margin: 10px;">
        <form name="myForm" novalidate ng-submit="addUser(newUser)">
            <div class="well">
                <div class="form-group">
                    <label for="inputName">Name:</label>
                    <input id="inputName" type="text" ng-model="newUser.name" required name="userName">
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" required ng-model="newUser.email" name="userEmail">
                    <div class="error" ng-show="myForm.userEmail.$invalid && myForm.userEmail.$dirty">
                        {{ getError(myForm.userEmail.$error) }}
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" required name="agreed" ng-model="newUser.agreed">
                        I agreed to terms and conditions
                    </label>
                </div>
                <button class="btn btn-primary btn-block" type="submit" ng-disabled="myForm.$invalid">OK</button>
            </div>
            <div class="well">
                Message: {{ message }}
                <div>
                    Valid: 
                    <span class="summary" ng-class="myForm.$valid ? 'ng-valid' : 'ng-invalid'">
                        {{ myForm.$valid }}
                    </span>
                </div>
            </div>
        </form>
    </div> -->
        
        
        








    <!-- <div class="container">

        <div class="row">
            
            <div class="col-md-4">
                <div class="well">
                    <div class="form-group row">
                        <label for="actionText">Action:</label>
                        <input id="actionText" class="form-control" ng-model="task.action">
                    </div>
                    <div class="form-group row">
                        <label for="actionPriority">Priority:</label>
                        <select id="actionPriority" class="form-control" ng-model="task.priority">
                            <option>High</option>
                            <option>Normal</option>
                            <option>Low</option>
                        </select>
                    </div>
                    <button class="btn btn-primary btn-block" ng-click="addTask(task)">Add</button>
                </div>
            </div>
            <div class="col-md-8 panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>
                            Незавершенные задачи
                            <span class="label label-info">
                                {{ (tasks | filter : { complete: 'false' }).length }}
                            </span>
                        </h3>
                    </div>
                </div>
                
                <table class="table">
                    <tr ng-repeat="task in tasks">
                        <td>{{ task.action }}</td>
                        <td>{{ task.priority }}</td>
                        <td>
                            <input type="checkbox" ng-model="task.complete">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div> -->
        





    <!-- <div ng-repeat="item in classNames">
        <label>
            <input type="radio" ng-model="$parent.selectedClass" value="{{ item.value }}" /> {{ item.displayName }}
        </label>
    </div>

    <div ng-class="selectedClass">{{ selectedClass }}</div> -->






    <!-- <div>
        <input type="checkbox" ng-model="hideElem1">
        <input type="checkbox" ng-model="hideElem2">
        <input type="checkbox" ng-model="hideElem3">
    </div>

    <div ng-hide="hideElem1">Elem1</div>
    <div ng-hide="hideElem2">Elem2</div>
    <div ng-hide="hideElem3">Elem3</div> -->





    <!-- <div class="container">
        <select ng-model="mode" ng-options="item.display for item in options track by item.value"></select>
        
        <div ng-switch on="mode.value" style="margin-top: 20px;">
            
            <table class="table" ng-switch-when="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{ item.name }}</td>
                        <td>{{ item.value }}</td>
                    </tr>
                </tbody>
            </table>
            
            <ul class="list-group" ng-switch-when="list">
                <li ng-repeat="item in items" class="list-group-item list-group-item-info">{{ item.name }}: {{ item.value }}</li>
            </ul>
            
            <ol class="list-group" ng-switch-when="budges">
                <li ng-repeat="item in items" class="list-group-item">
                    <span class="badge">{{ item.value }}</span>
                    {{ item.name }}
                </li>
            </ol>
        </div> -->

    </div>



    <!-- <div class="btn-group">
        <button class="btn btn-default" ng-click="showTable()">Table</button>
        <button class="btn btn-default" ng-click="showList()">List</button>
    </div>
    <ng-include src="url"></ng-include> -->






    <!-- <h3>HTML Element</h3>
    <ng-include src="url"></ng-include>

    <h3>HTML Attribute</h3>
    <span ng-include="url"></span>

    <h3>Css Class</h3>
    <span class="ng-include: url;"></span> -->








    <!-- <select ng-model="selected" ng-options="item.prop1 for item in items track by item.prop2"></select>

    selected text: {{ selected.prop1 }}
    selected value: {{ selected.prop2 }} -->










    <!-- <p ng-repeat-start="item in items">
        № {{ $index + 1 }}
    </p>
    <span>
        {{ item.name }}
    </span>
    <span>
        {{ item.age }}
    </span>
    <hr ng-repeat-end /> -->



    <!-- <h1>{{ item.name }}</h1>
    <ul>
        <li ng-repeat="item in items" ng-class="($even) ? 'class1' : 'class2'">
            <span ng-if="$first">First</span>
            <span ng-if="$last">Last</span>
            {{ $index + 1 }}: <span ng-repeat="(key, value) in item">{{ key }} = {{ value }} </span>
        </li>
    </ul> -->



    <!-- <button class="btn btn-default">Default</button>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-danger">Danger</button> -->


    <!-- <div class="container">
        <h1>Планировщик курсов</h1>
        <h3>Пользователь - {{ data.user }}. Количество курсов - {{ data.courses.length }}</h3>
        <div>
            <input type="text" ng-model="nameOfCourse">
            <button ng-click="addNewCourse()">Добавить</button>
        </div>
        <table width="100%" style="text-align: center">
            <thead>
                <tr>
                    <th>Курс</th>
                    <th></th>
                    <th>Пройден</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="course in data.courses">
                    <td>{{ course.name }}</td>
                    <td><input type="checkbox" ng-model="course.passed"></td>
                    <td style="{{ setStyle(course.passed) }}">{{ showText(course.passed) }}</td>
                </tr>
            </tbody>
        </table>

    </div> -->


    <!-- <div ng-controller="appCtrl">
            <h1>{{ message }}</h1>
            <input type="text" ng-model="text">
            <button ng-click="clickHandler()">button</button>
    </div> -->
</body>

</html>